/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-color: #99ed93;
  background-image: url(http://acheer2u.com/cat/weed/img/banner002.jpg);
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  position: absolute;
  top: 10%;
  text-align: center;
  left: 0%;
  right:32%;
  font-size: 87px;
  text-shadow: black 0.3em 0.3em 0.7em;
  color: white;
}

body {
  background-color: #f2f2f2;
}

.index_card {
  border: 1px solid black;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: #86DEB6;
}

#index_img {
  width: 100px;
  height: 100px;
  align-content: center;
}

#strain_title {
  font-weight: bold;
  text-align: center;
}

#product_img {
  width: 300px;
  height: 300px;
  align-content: center;
  background-color: #DE7C77;
}


#info-button {
  margin-left: 46px;
  margin-bottom: 9px;
  position: relative;
}

#intro_text {
  background-color: #3F915F;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}

#index_button {
  margin-bottom: 30px;
  border: 1px solid #DE7C77;
}

.btn-muted {
    border: 1px solid #DE7C77;
}

a {
  color: #DE7C77;
}
